@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap");

:root {
  --main-text-color: rgb(25, 150, 200);
  --button-press-color: rgb(50, 75, 100);
  --button-disable-color: rgb(62, 76, 90);

  --background-stop0-color: rgba(25,50,75,1);
  --background-stop1-color: rgba(10,85,115,1);
  --background-stop2-color: rgb(25, 150, 200);
}

.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg,var(--background-stop0-color) 0%, var(--background-stop1-color) 40%, var(--background-stop2-color) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App .header {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App .body {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App .title-a {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: white;
}

.App .title-b {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: var(--background-stop0-color);
}

.App .title-c {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.7vh;
  color: white;
}

.App .date-button {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.7vh;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 2vh;
  color: white;
}

.App .date-button:active {
  color: gray;
}

.App .summary {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.7vh;
  color: white;
}

.App .title-d {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2vh;
  color: white;
}

.App .divider {
  width: 90vw;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white;
}

a:link {
  color: rgb(221, 107, 0);
}

/* visited link */
a:visited {
  color: rgb(221, 107, 0);
}

/* mouse over link */
a:hover {
  color: rgb(221, 63, 0);
}

/* selected link */
a:active {
  color: rgb(221, 0, 0);
}
