@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap");

.App {
  height: 100vh;
  min-width: 100%;
  background-color: #463025;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App-header {
  height: 10vh;
  min-width: 60vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  height: 80vh;
  min-width: 60vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App-footer {
  height: 10vh;
  min-width: 60vw;
  width: 80vw;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1vh;
  text-align: center;
  color: white;
}

.App-title-a {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: white;
}

.App-title-b {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: rgb(221, 107, 0);
}

.App-title-c {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.7vh;
  color: white;
}

.App-title-d {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2vh;
  color: white;
}

.App-divider {
  width: 90vw;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white;
}

.Date-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Date-button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2vh;
}

.Passage-holder {
  height: 10vh;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 60vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Passage-title {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.7vh;
  color: white;
}

.Passage-player-loading {
  border: 0;
  width: 100%;
  height: 0px;
}

.Passage-player-loaded {
  border: 0;
  width: 100%;
  height: 109px;
}

.Placeholder-active {
  border: 0;
  width: 100%;
  height: 109px;
}

.Placeholder-inactive {
  border: 0;
  width: 100%;
  height: 0px;
}

a:link {
  color: rgb(221, 107, 0);
}

/* visited link */
a:visited {
  color: rgb(221, 107, 0);
}

/* mouse over link */
a:hover {
  color: rgb(221, 63, 0);
}

/* selected link */
a:active {
  color: rgb(221, 0, 0);
}
