@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

.App {
  min-height: 100vh;
  background-color: #463025;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.App-header {
  height: 10vh;
  min-width: 60vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title-a {
  font-family: 'Libre Franklin', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: white;
}

.App-title-b {
  font-family: 'Libre Franklin', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vh;
  color: rgb(221, 107, 0);
}

.App-title-c {
  font-family: 'Libre Franklin', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.7vh;
  color: white;
}

.App-divider {
  width: 90vw;
  height: 2px;
  margin-top:8px;
  margin-bottom:8px;
  background-color: white;
}

.Passage-holder {
  height: 10vh;
  margin-top:32px;
  margin-bottom:32px;
  min-width: 60vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Passage-title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.7vh;
  color: white;
}

.Passage-player {
  border: 0; 
  width: 100%; 
  height: 109px;
}


