@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


.AudioPlayer {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.AudioPlayer .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.AudioPlayer .body-title {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 5vh;
    padding: 16px;
}

.AudioPlayer .body-text {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 3vh;
    padding: 16px;
}

.AudioPlayer .logo-crop {
    width: 50%;
    max-width: 40vh;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

.AudioPlayer .loading-crop {
    width: 50%;
    max-width: 40vh;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AudioPlayer .fill {
    flex:1
}

.AudioPlayer .slider {
    width: 80%;
    color: var(--main-text-color)
}

.AudioPlayer .time-holder {
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.AudioPlayer .time {
    font-size: 2vh;
    font-family: 'Roboto Mono', monospace;
    color: var(--main-text-color)
}

.AudioPlayer .controls {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.AudioPlayer .center-button {
    height: 10vh;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0px;
    aspect-ratio: 1;
    color: var(--main-text-color)
}

.AudioPlayer .center-button:active {
    color: var(--button-press-color)
}

.AudioPlayer .center-button:disabled {
    color: gray;
}

.AudioPlayer .side-button {
    height: 6vh;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0px;
    aspect-ratio: 1;
    color: var(--main-text-color)
}

.AudioPlayer .side-button:active {
    color: var(--button-press-color)
}

.AudioPlayer .side-button:disabled {
    color: var(--button-disable-color)
}

.AudioPlayer .button-icon {
    width: 100%;
    height: 100%;
}
