@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  /* You'll also need to update the slider and popup colors*/

  --main-text-color: hsl(25, 0%, 100%);

  --title-text-color: hsl(25, 0%, 100%);
  --title-text-accent: hsl(220, 2%, 30%);

  --button-active-color: hsl(25, 0%, 100%);
  --button-press-color: hsl(25, 80%, 80%);
  --button-disable-color: hsl(220, 2%, 30%);

  --active-item-color: hsl(25, 90%, 95%);
  --disabled-item-color: hsl(220, 2%, 30%);

  --background-stop0-color: hsl(25, 5%, 20%);
  --background-stop1-color: hsl(25, 55%, 30%);
  --background-stop2-color: hsl(25, 60%, 55%);

  --dialog-bacground-color: hsla(25, 5%, 20%, 0.95);
}

/* Main Layout Styles */
.WLF {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    0deg,
    var(--background-stop0-color) 0%,
    var(--background-stop1-color) 60%,
    var(--background-stop2-color) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
}

.WLF .header {
  flex: 0 0 96px;
  width: 100vw;
  margin-top: 16px;
}

.WLF .body {
  flex: 1 1 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.WLF .progress {
  width: 80vw;
  height:64px;
}

.WLF .controls {
  width: 90vw;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

/* Header Styles */

.WLF .title-main {
  flex: 0 1;
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 38px;
  color: var(--title-text-color);
}

.WLF .title-sub {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  line-height: 2px;
  color: var(--title-text-color);
}

.WLF .title-accent {
  flex: 0 1;
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 38px;
  color: var(--title-text-accent);
}

.WLF .title-passage {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 38px;
  color: var(--main-text-color);
  margin-top: 16px;
}

.WLF .date-button {
  font-family: "Libre Franklin", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  border-radius: 2vh;
  background-color: transparent;
  border-width: 2px;
  border-color: var(--main-text-color);
  color: var(--main-text-color);
}

/* Body Styles */
.WLF .circle-cutout {
  flex: 1 1 96px;
  max-height: 30vh;
  border-radius: 50%;
  aspect-ratio: 1;
}

.WLF .timer-holder {
  flex: 0 1 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.WLF .timer {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  color: var(--main-text-color);
}

/* Control Styles */

.WLF .button {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  font-size: 42px;
  border-width: 0px;
  color: var(--button-active-color);
}

.WLF .button-icon {
  width: 100%;
  height: 100%;
}

.WLF .material-icon {
  display: flex;
  flex: 1 0 42px;

}

.WLF .spacer {
  flex: 0 1 8px;
}

.WLF .button:active {
  color: var(--button-press-color);
}

.WLF .button:disabled {
  color: var(--button-disable-color);
}

a:link {
  color: var(--button-active-color);
}

a:visited {
  color: var(--button-press-color);
}

a:active {
  color: var(--button-disable-color);
}
